/* ?-------------------------General-------------------------*/

.grid-div {
    display: grid;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    /* overflow-x: hidden; */
}

a {
    text-decoration: none;
    color: #111;
}

main {
    padding-right: 10px;
}
li {
    list-style: none;
}

main ul {
    padding: 0;
}

address {
    text-decoration: none;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
    font-weight: 100;
}

#main {
    transition: margin-right 0.5s;
}

#header {
    transition: margin-right 0.5s;
}

#footer {
    transition: margin-right 0.5s;
}

/*?-------------------------Sidebar-------------------------*/

.sidepanel {
    width: 0;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 25px;
    z-index: 2;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
}

.sidepanel a:hover {
    color: #9e9e9e;
}

.aside-menu {
    margin-left: 10px;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 36px;
    padding: 15px;
}

.sidepanel .closebtn:focus {
    opacity: 0;
}

.openbtn {
    position: fixed;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    opacity: 0.8;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.openbtn:hover {
    background-color: #444;
}

/*?------------------------- Header -------------------------*/

.logo {
    color: #f8be02;
}

header {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas:
        'nav header-img'
        'heading header-img';
    padding-right: 10px;
    margin-top: 10px;
}

.you {
    color: rgba(227, 43, 104, 1);
}

.navigation {
    grid-area: nav;
    justify-self: start;
    align-self: center;
    display: flex;

    font-size: 20px;
    margin-top: 35px;
    margin-left: 50px;
    padding: 0;
    gap: 30px;
}

.nav-el-first {
    padding-right: 40px;
}

.nav-el-last {
    padding-left: 80px;
}

.navigation a {
    text-align: center;
}

.heading-h2 {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 84px;
}

.heading h3 {
    font-size: 48px;
}

.btn-learn-more {
    border: #f8be02 solid 1px;
    grid-area: top-btn;
    font-size: 24px;
    padding: 5px 0 5px 23px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.btn-learn-more:hover {
    background-color: black;
    color: #f8be02;
}

.btn-learn-more img {
    margin: 0 53px 0 8px;
    padding-bottom: 3px;
}

.heading {
    grid-area: heading;
    margin-left: 80px;
    align-self: center;
}

.header-img {
    grid-area: header-img;
    width: 375px;
    justify-self: end;
}

.yellow-block-resp {
    position: relative;
}

.yellow-block {
    position: absolute;
    z-index: -100;
    top: 125px;
    left: 60%;
    transform: translate(-50%, -50%);
}

/*?------------------------- MAIN -------------------------*/

.hero {
    display: grid;
    grid-template-columns: 5fr 6fr;
    row-gap: 80px;
    column-gap: 15px;
}

/*?------------------------- inputs -------------------------*/

.sign-up {
    color: white;
    background-color: rgba(36, 34, 34, 1);
    border-radius: 0px 15px 15px 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-left: 80px;
    display: grid;
    grid-template-rows: 1fr 3fr;
    row-gap: 60px;
}

.sign-up h2 {
    font-size: 48px;
}

.sign-up p {
    margin: 0%;
}

.sign-up .dates {
    background-color: rgba(168, 168, 168, 1);
    margin-bottom: 30px;
    font-size: 16px;
    width: 80%;
}

.inputs {
}

.submit-btn {
    background-color: transparent;
    border: #a8a8a8 solid 1px;
    color: white;
    font-size: 24px;
    width: 30%;
    margin-top: 45px;
}

.submit-btn:hover {
    background-color: white;
    color: black;
}

/*?------------------------- testimonials -------------------------*/

.testimonials {
    position: relative;
}

.testimonials h2 {
    font-size: 48px;
    margin-bottom: 15px;
    margin-left: 50px;
}

.testimonials-rectangle {
    position: absolute;
    top: 45px;
    left: 50px;
}

.yellow-rectangle {
    position: inherit;
    height: 3px;
    width: 25px;
    background-color: rgba(248, 190, 2, 1);
    border-radius: 3px;
}
.light-gray-rectangle {
    position: inherit;
    height: 3px;
    width: 35px;
    background-color: rgba(229, 229, 229, 1);
    z-index: -1;
    border-radius: 3px;
}
.grey-rectangle {
    position: inherit;
    height: 3px;
    width: 42px;
    background-color: rgba(208, 208, 208, 1);
    z-index: -2;
    border-radius: 3px;
}

.testimonials > h3 {
    font-weight: 100;
    margin-left: 50px;
}

.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 8%;
    margin-left: 100px;
    margin-right: 145px;
}

.reviews > li {
    margin-top: 50px;
}

.reviews > li h3 {
    margin: 7px 0 8px 0;
}

.reviews > li p {
    margin-bottom: 25px;
}

/*?------------------------- About Us -------------------------*/

.about-us {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    position: relative;
}

.about-us-rectangle {
    position: absolute;
    top: 0px;
    left: 0px;
}

.green-rectangle {
    position: inherit;
    height: 3px;
    width: 25px;
    background-color: #b8e32b;
    border-radius: 3px;
}

.about-us h2 {
    margin: 0;
}

.about-us p {
    margin-right: 30px;
}

.about-us .stat {
    font-size: 32px;
    font-weight: bold;
}

.about-us-stats p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin: 15px 0 7px 0;
}

.stat-percent {
    color: #b8e32b;
}

.quality-line {
    background-color: #b8e32b;
    width: 300px;
    height: 8px;
    position: relative;
}

.speed-line {
    background-color: #b8e32b;
    width: 290px;
    height: 8px;
    position: relative;
}

.client-exp-line {
    background-color: #b8e32b;
    width: 310px;
    height: 8px;
    position: relative;
}

.grey-line {
    position: absolute;
    width: 330px;
    height: 8px;
    background-color: #c4c4c4;
    z-index: -100;
}

/*?------------------------- Services -------------------------*/

.services {
}

.services-img {
    width: 100%;
}

.btn-more-info {
    border: rgba(184, 227, 43, 1) solid 1px;
    grid-area: top-btn;
    font-size: 24px;

    height: 40px;

    margin-top: auto;
    width: 230px;
    padding-left: 25px;
    padding-top: 8px;
    margin-bottom: 40px;
}

.btn-more-info:hover {
    background-color: rgba(184, 227, 43, 1);
    color: white;
}

.fa-arrow-right-long {
    margin-left: 30px;
    margin-top: 6px;
    width: 32px;
    color: #b8e32b;
}

.fa-arrow-right-long:hover {
    color: white;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    column-gap: 20px;
}

.services-list li {
    width: 220px;
}

/*?------------------------- Contacts -------------------------*/

.section-contacts {
    position: relative;
    margin-left: 80px;
}

.contacts-rectangle {
    position: absolute;
    top: 0px;
    left: 0px;
}

.blue-rectangle {
    position: inherit;
    height: 3px;
    width: 25px;
    background-color: #2bd7e3;
    border-radius: 3px;
}

.section-contacts h2 {
    font-weight: 700;
    font-size: 48px;
    font-style: normal;

    margin: 0;
}

.section-contacts h3 {
    font-weight: 400;
    font-size: 24px;

    margin-top: 15px;
    margin-bottom: 35px;
}

.section-contacts-info {
    align-self: center;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.section-contacts-text {
    width: 800px;

    align-self: flex-end;
}

.section-contacts-info p {
    text-align: right;
    justify-self: end;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    margin-bottom: 30px;
    /* width: 800px; ???*/
}

.section-contacts-info ul {
    display: flex;
    justify-content: space-between;
}

.section-contacts-info li {
    display: flex;
    align-items: center;
    gap: 15px;
}

.section-contacts-info a {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.section-contacts-bg {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 290px;
    line-height: 351px;
    color: rgba(43, 215, 227, 0.15);
    margin: 0%;

    position: absolute;
    z-index: -1;
    top: 180px;
    left: 50px;
}

/*?------------------------- TEAM -------------------------*/

.team {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    position: relative;
}

.team-rectangle {
    position: absolute;
    top: 43px;
    left: 0px;
}

.red-rectangle {
    position: inherit;
    height: 3px;
    width: 25px;
    background-color: #e32b68;
    border-radius: 3px;
}

.team h2 {
    margin-bottom: 15px;
}

.team h3 {
    margin-top: 15px;
    margin-bottom: 50px;
}

.other-team {
    display: flex;
}

.john-doe h2 {
    font-size: 36px;
    margin: 0;
    margin-top: 200px;
}

.john-doe h3 {
    font-size: 20px;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 27px;
}

.john-doe {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.price {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #e32b68;
    margin: 0%;
}

.other-team-text {
}

.btn-see-more {
    border: 1px solid #e32b68;
    font-size: 24px;
    padding: 5px 28px 5px 22px;
    margin-top: 50px;
}

.btn-see-more:hover {
    background-color: #e32b68;
    color: #111;
}

.btn-see-more img {
    margin-left: 28px;
    padding-bottom: 3px;
    margin-right: 52px;
}

.black-star {
    width: 25px;
}

.other-team-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'man man'
        'man man'
        'jane woman';
    justify-content: stretch;
    row-gap: 10px;
    column-gap: 15px;
}

.team-man {
    grid-area: man;
    position: relative;
}

/* *-----------------team-man-hover------------------* */

.team-man-hover {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 373px;
    height: 497px;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9) 80%);
    padding-left: 80px;
    padding-top: 300px;
    padding-bottom: 15px;
    border-radius: 8px;
    display: none;
}

.team-man:hover .team-man-hover {
    display: block;
    z-index: 10;
}

.team-man-hover h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 29px;

    color: #ffffff;
    margin: 0;
}

.team-man-hover > .role {
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;

    color: #d2d2d2;
    margin: 20px 0;
}

.team-man-hover > .team-rate {
    margin: 10px 0;
}

.team-man-hover > .team-rate img {
    width: 26px;
}

.team-man-price {
    font-weight: 400;
    font-size: 26px;
    line-height: 19px;

    color: #e32b68;
    margin-top: 20px;
}

/* *-----------------------------------* */

.jane-doe {
    grid-area: jane;
    position: relative;
}

/* *-----------------jane-doe/team-woman-hover------------------* */

.jane-doe-hover,
.team-woman-hover {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 179px;
    height: 239px;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7) 80%);
    padding-left: 10px;
    padding-top: 120px;
    padding-bottom: 15px;
    border-radius: 8px;
    display: none;
}

.jane-doe:hover .jane-doe-hover,
.team-woman:hover .team-woman-hover {
    display: block;
    z-index: 10;
}

.jane-doe-hover h2,
.team-woman-hover h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #ffffff;
    margin: 0;
}

.role {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: #d2d2d2;
    margin: 0;
}

.team-rate {
    margin: 10px 0;
}

.team-rate img {
    width: 16px;
}

.jane-doe-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #e32b68;
    margin: 0;
}

/* *-----------------------------------* */

.team-woman {
    grid-area: woman;
    position: relative;
}

/*?------------------------- OUR WORK -------------------------*/

.our-work {
    margin-left: 80px;
    margin-right: 10px;
    position: relative;
}

.our-work-rectangle {
    position: absolute;
    top: 0px;
    left: 0px;
}

.violet-rectangle {
    position: inherit;
    height: 3px;
    width: 25px;
    background-color: #782be3;
    border-radius: 3px;
}

.our-work h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;

    margin: 0;
}

.our-work h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.works {
    display: grid;
    grid-template-columns: 97fr 32fr 32fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        'apartment desk       desk'
        'apartment mirror     blue-sky'
        'office    mirror     blue-sky'
        'office    modern     modern'
        'office    purple-sky server';
    column-gap: 13px;
    row-gap: 13px;
}

.works > img {
    width: 100%;
    height: 100%;
}

.works .brown-apartment {
    grid-area: apartment;
}
.desk {
    grid-area: desk;
}
.mirror {
    grid-area: mirror;
}
.blue-sky {
    grid-area: blue-sky;
}
.office {
    grid-area: office;
}
.modern {
    grid-area: modern;
}
.purple-sky {
    grid-area: purple-sky;
}
.server {
    grid-area: server;
}

.btn-more-works-margin {
    margin-right: 10px;
}

.btn-more-works {
    background: #782be3;
    border: #782be3 solid 5px;
    width: 100%;
    color: white;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;

    height: 75px;
    padding-top: 37.5px;

    font-style: normal;
    font-size: 24px;
    line-height: 29px;
}

.btn-more-works:hover {
    border: #782be3 solid 5px;
    background-color: white;
    color: #782be3;
}

/*?------------------------- footer -------------------------*/

footer {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-rows: 4fr 4fr 1fr;
    grid-template-areas:
        'dates-footer most-search policies'
        'map          most-search policies'
        'map          copyright   copyright';

    color: white;
    background-color: rgba(50, 47, 47, 1);
    padding-left: 75px;
    padding-bottom: 35px;
    column-gap: 15px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer ul {
    padding: 0;
}

.dates-footer {
    grid-area: dates-footer;
}

.dates-footer h2 {
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 48px;
}

.ref-footer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 15px;
}

.ref-footer li {
    display: flex;
    align-items: center;
    gap: 15px;

    font-size: 24px;
    line-height: 29px;
}

.map {
    grid-area: map;
}

.most-search {
    grid-area: most-search;
}

.most-search h2 {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 64px;
}

.most-search ul > li > a {
    font-size: 24px;
    line-height: 29px;
}

.most-search-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.policies {
    grid-area: policies;
}

.policies h2 {
    font-size: 36px;
    line-height: 44px;
}

.policies ul > li > a {
    font-size: 24px;
    line-height: 29px;
}

.copyright {
    grid-area: copyright;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
